@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --primary-glow: rgba(168, 85, 247, 0.4);
  --secondary-glow: rgba(34, 211, 238, 0.4);
}

@layer base {
  body {
    @apply bg-[#030014] text-white min-h-screen overflow-x-hidden font-body;
    background-image:
      radial-gradient(circle at 50% 10%, #1e0b45 0%, transparent 50%),
      radial-gradient(circle at 80% 90%, #063047 0%, transparent 50%);
  }
}

@layer components {
  .glassmorphism {
    @apply bg-white/5 backdrop-blur-xl border border-white/10 transition-all duration-500;
  }
}

.gradient-text-live {
  background-size: 200% auto;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #030014;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, transparent, var(--primary-glow), transparent);
  border-radius: 10px;
}